*{
    transition: .3s all;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
section{
    margin-top: 62px;
}
.title{
    background: #FF97E2;
    color: black;
    font-weight: bold;
    font-size: 96px;
    line-height: 124px;
    color: #000000;
    z-index: 2;
    right: 0;
    position: absolute;
    padding: 30px 50px;
    padding-right: 250px;
    cursor: default;
}
.logo:hover{
    color: #F0F35B;
}
p{
    margin: 0;
}
p:hover{
    color: #F0F35B;
}
p.animated{
    opacity: 0;
}
.offer{
    background: #F0F35B;
    width: 90%;
    height: 516px;
    z-index: -1;
    margin-top: 118px;
    position: absolute;
}
.imgs{
    display: flex;
}
.man{
    left: -200px;
    position: absolute;
    bottom: -65px;
}
.woman{
    right: 0;
    position: absolute;
    bottom: -80px;
}

/* w1200-w1920*/
@media screen and (min-width:1200px){
    .title{
        font-size: 7vh;
        line-height: 105px;
        padding-right: 13%;
    }
    .man{
        bottom: -195px;
    }
    .woman{
        bottom: 0;
        top: 600px;
    }
}
/* w960-w1200*/
@media screen and (max-width:1200px){
    .title{
        font-size: 45px;
        line-height: 90px;
    }
    .man{
        bottom: -20%;
    }
    .woman{
        bottom: -25%;
    }
}

/* w720-w960*/
@media screen and (max-width:960px){
    section{
        margin-top: 350px;
    }
    .title{
        font-size: 36px;
        line-height: 60px;
        padding-right: 8vh;
    }
    .offer{
        height: 40%;
    }
    .man{
        z-index: -5;
        top: 0;
        bottom: 0;
    }
    .woman{
        bottom: -37%;
    }
}

/* w720-w960*/
@media screen and (max-width:720px){
    body{
        overflow-x: hidden;
    }
    .title{
        font-size: 4.5vh;
        line-height: 40px;
        padding: 3vh 4vh;
    }
    .woman{
        bottom: -28%;
    }
}